@font-face {
  font-family: 'Stretch Pro';
  src: url('../assets/StretchPro.otf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
}

#middle_third {
  width: 100%;
  height: 34%;
  top: 30%;
  display: flex;
  position: relative;
  justify-content: center;
  overflow: hidden;
  clip-path: inset(50% 0 50% 0);
  transition: all 400ms ease-in-out;
}

#middle_third.visible {
  clip-path: inset(0 0 0 0);
}

.group {
  display: flex;
  flex-direction: column;
  width: 940px;
}

.graphic_bg {
  position: absolute;
  margin: auto 0;
  z-index: -1;
  top: 0;
  bottom: 0;
}

.round_outcome {
  text-align: center;
  color: white;
  font-size: 64px;
  font-weight: 400;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 56px;
  margin-bottom: 8px;
  text-wrap: nowrap;
  font-family: 'Stretch Pro', 'Manrope', sans-serif;
  transition: all 250ms ease-in-out;
  font-variant: no-common-ligatures;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.team_name {
  text-align: center;
  color: white;
  font-size: 32px;
  font-weight: 400;
  border-radius: 8px 8px 0 0;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0;
  text-wrap: nowrap;
  font-family: 'Manrope', sans-serif;
  transition: all 250ms ease-in-out;
  font-variant: no-common-ligatures;
}
