.monospace {
  font-family: monospace;
}
body {
  background-color: #2f3a4f;
  color: white;
}
.cs {
  margin-top: auto;
  margin-bottom: auto;
  color: whitesmoke;
}
.flex_sb {
  display: flex; 
  justify-content: space-between;
}
.flex_column {
  display: flex;
  flex-direction: column;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 24px;
  margin: 6px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(49px);
  -ms-transform: translateX(49px);
  transform: translateX(49px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}