body {
  font-family: 'Manrope', sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.container {
  margin: 0;
  margin-top: 50vh;
  display: flex;
  width: 100%;
}

.scoreboard.left { flex-direction: row-reverse; transform: translateX(-60vw);}
.scoreboard {
  display: flex;
  width: 50%;
  overflow: hidden;
  transition: .4s;
  transform: translateX(60vw);
}

.scoreboard.visible {
  transform: translateX(0vh);
}

.scoreboard > .background {
  position: absolute;
  z-index: -1;
}

.players {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 83%;
  margin-top: 44px;
  height: 315px;
  overflow: hidden;
}
.scoreboard.right .playerDetails,
.scoreboard.right .player { justify-content: flex-end; }
.playerDetails {
  display: flex;
  width: 39%;
  gap: 12px;
}

.player {
  display: flex;
  width: 100%;
  height: 55px;
  color: white;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  gap: 8px;
}

.scoreboard.right .agentIcon { transform: scaleX(-1); }
.agentIcon {
  width: 55px;
  height: 55px;
}

.scoreboard.right .name { text-align: right; }
.name {
  width: 220px;
  font-weight: 600;
}

.kda {
  width: 12%;
  text-align: center;
}

.ultimate {
  width: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.ultimateIcon {
  width: 10px;
  height: 10px;
  color: rgb(100, 100, 100);
}

.loadout {
  width: 16%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadout > img {
  max-width: 90%;
  max-height: 70%;
}

.credits {
  width: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delta {
  margin: 0;
  margin-bottom: -5px;
  font-size: 12px;
  color: rgb(159, 159, 96);
}

.credits > .current {
  margin: 0;
}