.monospace {
    font-family: monospace;
}

body {
    margin: 1%;
    background-color: #2f3a4f;
}


.score_field {
    width: 15%;
}

.name_field {
    width: 80%;
}

.cs {
    margin-top: auto;
    margin-bottom: auto;
}

.full_field {
    width: 100%;
}

.dropdown {
    background-color: #2f3a4f !important;
}

.section {
    padding-top: 2%; 
    padding-bottom: 2%;
}

.team_header {
    color: white;
    margin: 0%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
}

.flex_sb {
    display: flex; 
    justify-content: space-between;
}

.flex_col_sb {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.width_25pct {
    width: 25%;
}

.width_team {
    width: 50%;
    margin-left: 1%;
    margin-right: 1%;
}

.width_70pct {
    width: 70%;
}

.switch_label {
    margin-top: auto;
    margin-bottom: auto;
}

.button {
    border: none;
    border-radius: 4px;
    text-decoration: none;
    width: 20%;
    padding: 0;
    font-size: 16px;
    min-width: 5rem;
    min-height: 2.5rem;
    margin: auto;
    display: block;
}

.button_lrg {
    min-width: 12rem;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    /* width: 75%; */
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    padding-bottom: 6px;
    /* font-weight: 700; */
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 24px;
    margin: 6px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(49px);
    -ms-transform: translateX(49px);
    transform: translateX(49px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#updateButton:active {
    background-color:gray;
}
