body {
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.graphic_bg {
    position: absolute;
    margin: 0;
    z-index: -1;
}

.overlay {
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    transition: .4s;
    height: 10vh;
}

.team_text {
    color: white;
    font-size: 2.25vh;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;

    margin-top: auto;
    margin-bottom: auto;
}

.team_score {
    font-weight: 800;
    font-size: 3vh;
    max-width: 15%;
}

.team_left {
    margin-left: auto;
    padding-right: 0.8vw;
}

.team_right {
    margin-right: auto;
    padding-left: 0.8vw;
}

.centre_text {
    color: white;
    font-size: 1.75vh;
    font-weight: 400;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;

    width: 35%;

    margin-top: 0;
    margin-bottom: auto;
}

.text_right {
    text-align: end;
}

.title {
    font-weight: 800;
    font-size: 1.85vh;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
    width: 30%;
}

.width_team {
    display: flex;
    width: 19.5%;
    height: 4.5vh;
    /* margin-top: 0px; */
}

.width_spacer {
    display: flex;
    width: 1.5%;
    height: 5vh;
}

.width_centre {
    display: flex;
    width: 58%;
    height: 3vh;
    justify-content: space-between;
}